/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #4E3089;
    color: #fff;
    height: 5vh;
    width: 100vw;
}

.nav-links a {
    color: #fff;
}

.logo a {
    color: #fff;
}

/* NAVBAR MENU */
.menu {
    display: none;
    position: absolute;
    background-color: #4E3089;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    font-size: 18px;
    width: 25vw;
    height: 93.3vh;
    z-index: 1;
    top: 5vh;
}

.menu li:hover {
    display: block;
    background-color: #97939F;
    transition: 0.3s ease;
}

.menu li {
    padding: 10px 14px;
    margin-top: 12px;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked~.menu {
    display: block;
}

input[type=checkbox]:checked~.dropdown::before{
    content: "\00d7";
}

#checkbox_toggle {
    display: none;
}

.dropdown:before {
    content: "\2630"; /* Unicode character for three horizontal lines (☰) */
}

.dropdown {
    display: block;
    font-size: 24px;
    user-select: none;
}


/*Responsive
@media (max-width: 992px) {
  
} */

@media (max-width: 768px) {

    .menu {
        width: 50%;
    }
}

@media (max-width: 576px) {

    .navbar {
        padding-left: 15px;
        padding-right: 15px;
    }

    .menu {
        width: 100%;
    }

    

}
