@font-face {
    font-family: 'Montserrat';
    src: url('/src/assets/fonts/Montserrat-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4E3089;
    color: #fff;
    height: 49px;
    width: 100vw;
    overflow: hidden;
}

.logo {
    list-style: none;
    width: 90vw;
}

.logo a {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

/* NAVBAR MENU */
.menu {
    position: absolute;
    background-color: #4E3089;
    right: 0;
    left: 0;
    text-align: center;
    padding: 0 16px;
    font-size: 18px;
    width: 30px;
    height: calc(100vh - 47px);
    float: right;
    margin-top: 32px;
    margin-left: 0%;
    margin-right: auto;
    margin-bottom: 0%;
}

.menu li {
    padding: 7.5px 0px;
    margin-top: 2vh;
    list-style: none;
}

.iconos {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This will distribute space between items */
}

.center-icons {
    display: flex;
    flex-direction: column; /* Stack the icons vertically */
    align-items: center; /* Center the icons */
    flex-grow: 1; /* Allow this section to grow */
}

.bottom-icon {
    margin-top: auto; /* Pushes the salir icon to the bottom */
    text-align: center; /* Center the icon horizontally */
    margin-bottom: 35%;
}

.icon img {
    height: 30px;
    width: 30px;
    justify-content: center;
}

.user-icon {
    width: 10vw;
    justify-content: center;
    transform: translate(35%, -15%);
}