.datos {
    margin-left: 20px;
}

.containerExp {
    display: flex;
    width: 90vw;
}

.tabsForm {
    width: 90vw;
}

.panel {
    height: calc(100vh - 49px);
}

.boxPanel {
    width: 90vw;
    margin-right: 0px;
    transform: translate(10%);
}

.tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
    background: white;
    border-bottom: 1px solid transparent;
}

.active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    background: rgb(88, 147, 241);
}

button {
    border: none;
}

.content-tabs {
    flex-grow: 1;
}

.contents {
    background: white;
    padding: 20px;
    width: 90vw;
    height: calc(100vh - 49px);
    display: none;
}

.contents h2 {
    padding:  0px 0 5px 0px;
}

.contents hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
}

.contents p {
    width: 100%;
}

.active-content{
    display: block;
}